---
import twitter from "/public/twitter.png";
import youtube from "/public/youtube.png";
import dribble from "/public/dribble.png";
---

<div class="h-full mt-16 flex items-center justify-center space-x-8">
  <a href="https://twitter.com/__aaleexx_"><img src={twitter.src} /></a>
  <a href="https://www.youtube.com/@thealdex7220/featured"
    ><img src={youtube.src} /></a
  >
  <a href=""
    ><img src={dribble.src} /></a
  >
</div>
