---
import art1 from "/public/art1.jpg";
import art2 from "/public/art2.jpg";
---

<div class="mx-12 mb-24">
  <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={art1.src}
        alt="painting"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={art2.src}
        alt="painting"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    
    </div>
  </div>
</div>
