---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
import Nav from "../pages/components/Nav";
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <meta title={title} />
  </head>
  <body>
    <main>
      <Nav client:load />
      <slot />
    </main>
  </body>
</html>
